/*
공통적으로 custom 해야 할 디자인 작업 
*/
* {
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
  box-sizing: border-box;
}
/*layout custom style*/
.ant-layout {
  background-color: white;
}
/*modal custom style*/
.ant-modal-content {
  border-radius: 16px;
}
.ant-modal-header {
  border-radius: 16px 16px 0 0;
}

.ant-modal-footer {
  border: none;
}

/*confirm modal style*/
.ant-modal-confirm-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ant-modal-confirm-title {
    font-size: 20px;
    font-weight: 700;
  }
}

.ant-modal-confirm-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;

  .ant-btn-default {
    border: 1px solid #0349e6;

    color: #0349e6;
    font-size: 20px;
    font-weight: 700;

    height: 46px;
  }

  .ant-btn-primary {
    background-color: #0349e6;

    height: 46px;

    font-size: 20px;
    font-weight: 700;
  }

  .ant-btn-primary:hover {
    background-color: #0241cc;
    transition: 0.4s;
  }
}

.ant-modal-confirm-body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*button custom style*/
.ant-btn-primary:hover {
  background-color: #0349e6;
}
.ant-btn-primary:active {
  background-color: #0241cc;
}
.ant-btn-lg {
  width: 100%;
}
.ant-btn-primary[disabled] {
  background-color: #9199a4;
  color: white;
}
.ant-btn-primary[disabled]:hover {
  background-color: #9199a4;
  color: white;
}

/*drop down custom style*/
.ant-dropdown-trigger {
  color: black;
}

.ant-dropdown-menu-item-only-child:hover {
  background-color: #e6eeff;
}

/*tooltip custom style*/
.ant-tooltip-arrow-content {
  --antd-arrow-background-color: #ffffff;
}

.ant-tooltip-inner {
  background-color: #ffffff;
  color: black;
}

.ant-message-notice-content {
  padding: 0;
}
.ant-message-success {
  display: flex;
  padding: 10px 16px;
  background-color: #0cbc72;
  color: white;
  gap: 8px;
}
.ant-message-success .anticon {
  color: white;
}
.ant-message-error {
  display: flex;
  padding: 10px 16px;
  background-color: #fe395b;
  color: white;
  gap: 8px;
}
.ant-message-error .anticon {
  color: white;
}
.ant-message-warning {
  display: flex;
  padding: 10px 16px;
  background-color: #9199a4;
  color: white;
  gap: 8px;
}

.ant-message-warning .anticon {
  color: white;
}

.ant-message-notice {
  margin: 50px auto 0 auto;
}

.ant-table-row-selected td[rowspan] {
  background-color: white !important;
}

/* timepicker custom style */
.ant-picker-time-panel-column:first-child {
  .ant-picker-time-panel-cell:nth-child(n + 1):nth-child(-n + 9) {
    display: none;
  }
}

.ant-picker-input {
  #checkInTime,
  #checkOutTime {
    cursor: pointer;
  }
}

.confirm-modal {
  top: 30vh;
  .ant-modal-content {
    width: 494px;
    height: 216px;
  }
  .ant-modal-body {
    padding: 0;
  }
  .anticon-exclamation-circle {
    display: none;
  }
  .ant-modal-confirm-body {
    height: 138px;
    align-items: center;
    justify-content: center;
  }
  .ant-modal-confirm-body-wrapper {
    gap: 0px;
  }
  .ant-modal-confirm-content {
    margin: 0;
  }
  .ant-modal-confirm-btns {
    margin: 0;
    padding: 16px 24px;
  }
  .ant-btn {
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
  }
  .ant-modal-confirm-title {
    font-size: 20px;
    font-weight: 400;
    white-space: pre-wrap;
  }
  .ant-modal-confirm-content {
    font-size: 20px;
    font-weight: 700;
    margin-left: 0px !important;
  }
}

/* coupon page message*/
.coupon-message {
  .ant-message-custom-content {
    width: 230px;
    display: flex;
    align-items: center;
  }
}
